dist/uxpl/contact/index.html
<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TIBCO UX Pattern Library</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="/assets/img/logo-uxpl.png">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108938042-1"></script>
    <script src="/assets/js/analytics.js"></script>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/vendor/highlightjs/styles/github.css">
    <link rel="stylesheet" href="/vendor/uxpl/css/tibco-cloud-ui-pattern.css">
    <link rel="stylesheet" href="/vendor/jquery/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/vendor/jquery/css/jquery.autocompleter.css">
  </head>
  <body>
    <header class="uipsite-header">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" data-toggle="collapse" date-target="#uip-navbar-collapse" aria-expanded="false" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
              <!--a(href=root + header.brand.href).navbar-brand.mynav-->
              <!--    img(src='../../assets/img/uxpl-logo.png')-->
            </button><a href="/index.html" class="navbar-brand mynav"></a>
          </div>
          <div id="uip-navbar-collapse" class="collapse navbar-collapse mynav">
            <ul class="nav navbar-nav">
              <li><a href="/components/index.html">Development</a></li>
              <li><a href="/design/index.html">Design</a></li>
              <li><a href="/copy/index.html">Copy</a></li>
              <li><a href="/work/index.html">Working with UX</a></li>
              <li><a href="/updates/index.html">Updates</a></li>
              <li><a href="/contact/index.html">Contact</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="container-fluid main-content">
      <div class="row">
        <div class="parentLoader">
          <div class="loader"></div>
          <div class="loadtext">Sending</div>
        </div>
        <div class="col-md-3 left-nav-menu">
          <nav class="uipsite-sidebar affix-top">
            <ul class="nav uipsite-sidenav">
            </ul>
          </nav>
        </div>
        <div class="col-md-9">
          <div id="mail-notification-success">
            <div class="tc-notifications tc-notifications-success"><span class="tc-success-close"></span>
              <div class="tc-notifications-message"></div>
            </div>
          </div>
          <div id="mail-notification-failed">
            <div class="tc-notifications tc-notifications-error"><span class="tc-error-close"></span>
              <div class="tc-notifications-message"></div>
            </div>
          </div>
          <div class="container">
            <section>
              <div class="title">Contact us</div>
              <p>We'd love to hear from you. Please leave your name, email, and comment, and we’ll get back to you.</p>
            </section>
            <section class="contact-form">
              <form id="fileUploadForm" method="post" enctype="multipart/form-data">
                <!--p
                //.tc-forms.tc-contact-input
                //    //label#name.tc-label Name
                //    input.tc-form(type='text',name='name',  placeholder='First and last name', onclick='',  value='')
                -->
                <div class="tc-form-div">
                  <input id="nameField" type="text" name="name" value="" required autocomplete="off" class="tc-form">
                  <label class="place-holder">First and last name</label>
                  <div class="tc-suggest">Enter your full name</div>
                </div>
                <div class="tc-form-div">
                  <input id="emailField" type="text" name="email" value="" required autocomplete="off" class="tc-form">
                  <label class="place-holder">Email</label>
                  <div class="tc-suggest">Enter a valid tibco.com address</div>
                </div>
                <div class="contact-form-search">
                  <input id="areaField" type="text" autocomplete="off" name="area" onclick="toggleDropDown(this, event)" value="" required readonly class="contact-search-text">
                  <label class="place-holder">Area</label>
                  <div class="tc-suggest">What aspect of the UXPL do you need help with?</div><span class="tc-caret"></span>
                </div>
                <ul id="result" style="display: none;" class="tc-search-results">
                  <li value="Design">Design</li>
                  <li value="Development">Development</li>
                </ul>
                <div class="tc-forms msgbox">
                  <label class="tc-label">Message</label>
                  <textarea id="comment" placeholder="Enter what you'd like to say here..." name="comment" class="form-control tc-text-areas tc-text-area"></textarea>
                  <div class="tc-suggest">Enter a message</div>
                </div>
                <div>
                  <div class="upload-btn-wrapper">
                    <div class="tc-upload-button"><span class="paperclip"></span>
                      <p>Add attachments</p><span class="filecount">0</span>
                    </div>
                    <input id="upload" type="file" autocomplete="off" name="uploadedFile" multiple="" onchange="updateList()">
                  </div>
                </div>
                <div id="fileList"></div>
                <div class="formSubmit">
                  <input type="button" value="Send" id="sendMail" class="tc-buttons tc-buttons-primary">
                  <script>
                    function toggleDropDown(element, event) {
                        event.stopPropagation();
                        document.querySelector('#result').style.display='block';
                    }
                    function validateField(element, event) {
                        var suggestEl = element.parentElement.querySelector(".tc-suggest");
                        if (element.value === "") {
                            suggestEl.classList.add('contact-form-input-error');
                        } else {
                            suggestEl.classList.remove('contact-form-input-error');
                        }
                    }
                    function formatFileSize(bytes, decimalPoint) {
                        if (bytes == 0) return '0 Bytes';
                        var k = 1000,
                            dm = decimalPoint || 2,
                            sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'],
                            i = Math.floor(Math.log(bytes) / Math.log(k));
                        return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];
                    }
                    function updateList() {
                        console.log("inside updateList");
                        var input = document.getElementById('upload');
                        var output = document.getElementById('fileList');
                        var listHtml="";
                        var fileNum = input.files.length;
                        var spanEle ="";
                        var spanSize = "";
                        var spanDel = "<span class = \"removeFile\" ></span>";
                      var numFiles =  input.files.length;
                       // filesCount+=numFiles;
                     var curFileNum =   parseInt(document.querySelector(".filecount").innerHTML);
                        console.log("No.of files brfore = " + curFileNum);
                    
                        curFileNum +=   numFiles;
                        console.log("No.of files afeter = "+curFileNum);
                        document.querySelector(".filecount").innerHTML = curFileNum;
                        for (var i = 0; i < numFiles; ++i) {
                            var bytes = input.files.item(i).size ;
                            console.log("file size in Bytes " + bytes);
                    
                            //var fileSize = parseInt(Math.floor(Math.log(bytes) / Math.log(1024)));
                            var fileSize=formatFileSize(bytes);
                            var fileType = input.files.item(i).name.split('.')[1];
                            console.log("file size is "+fileSize);
                            console.log("file type is " +fileType);
                            spanSize = "<span class=\"fileSize\">"+fileSize+"</span>";
                            if(fileType == "pdf"){
                                spanEle="<span class = \"pdfImage\" ></span>"
                            } else if (fileType == "png" || fileType == "jpg" || fileType == "svg") {
                                console.log("inside file type svg");
                                spanEle="<span class = \"pngImage\" ></span>"
                            } else if (fileType == "zip") {
                                spanEle="<span class = \"zipImage\" ></span>"
                            } else {
                                spanEle="<span class = \"pdfImage\" ></span>"
                        }
                    
                    
                            listHtml += '<div class=\"fileAttachList\">'+spanEle + '<span class=\"fileName\">' + input.files.item(i).name +'</span>' +spanDel+spanSize+'</div>';
                    }
                        // output.innerHTML += '<ul>'+listHtml+'</ul>';
                        output.insertAdjacentHTML( 'beforeend', listHtml );
                    
                    }
                  </script>
                </div>
              </form>
            </section>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/vendor/jquery/js/jquery.js"></script>
    <script type="text/javascript" src="/vendor/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="/vendor/highlightjs/highlight.pack.js"></script>
    <script type="text/javascript" src="/vendor/uxpl/js/tibco-cloud-ui-pattern.js"></script>
    <script type="text/javascript" src="/vendor/jquery/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/vendor/jquery/js/jquery.mCustomScrollbar.js"></script>
    <script type="text/javascript" src="/vendor/jquery/js/jquery.ba-throttle-debounce.min.js"></script>
    <script type="text/javascript" src="/assets/js/main.js"></script>
    <script type="text/javascript" src="/vendor/jquery/js/jquery.autocompleter.js"></script>
    <footer class="footer">
      <p>Copyright ©
        <script>document.write((new Date()).getFullYear())</script> TIBCO Software Inc. All Rights Reserved.
      </p>
    </footer>
  </body>
</html>

site/contact/index.jade
extends ../_layout/left-nav-contact-layout.jade

block rightContent
    div#mail-notification-success
        .tc-notifications.tc-notifications-success
            span.tc-success-close
            .tc-notifications-message
    div#mail-notification-failed
        .tc-notifications.tc-notifications-error
            span.tc-error-close
            .tc-notifications-message


    div.container

        section
            .title Contact us
            p We'd love to hear from you. Please leave your name, email, and comment, and we’ll get back to you.
        section.contact-form
            form#fileUploadForm(method='post', enctype='multipart/form-data')
                //p
                    //.tc-forms.tc-contact-input
                    //    //label#name.tc-label Name
                    //    input.tc-form(type='text',name='name',  placeholder='First and last name', onclick='',  value='')
                .tc-form-div
                    input#nameField.tc-form(type='text', name='name',value='', required,autocomplete='off')
                    label.place-holder First and last name
                    .tc-suggest Enter your full name

                .tc-form-div
                    input#emailField.tc-form(type='text',name='email', value='', required,autocomplete='off')
                    label.place-holder Email
                    .tc-suggest Enter a valid tibco.com address

                .contact-form-search
                    input#areaField.contact-search-text(type='text',autocomplete='off', name='area' onclick='toggleDropDown(this, event)', value='' required readonly)
                    label.place-holder Area
                    .tc-suggest What aspect of the UXPL do you need help with?

                    span.tc-caret
                ul#result.tc-search-results(style='display: none;')
                    li(value='Design') Design
                    li(value='Development') Development

                .tc-forms.msgbox
                    label.tc-label Message
                    textarea#comment.form-control.tc-text-areas.tc-text-area(placeholder="Enter what you'd like to say here...",name='comment',)
                    .tc-suggest Enter a message

                div
                            .upload-btn-wrapper
                                div.tc-upload-button
                                    span.paperclip
                                    p Add attachments
                                    span.filecount 0


                                input#upload(type='file',autocomplete='off', name='uploadedFile', multiple='',onchange='updateList()')
                #fileList

                div.formSubmit

                            input.tc-buttons.tc-buttons-primary(type='button', value='Send',id='sendMail')

                            script.

                                function toggleDropDown(element, event) {
                                    event.stopPropagation();
                                    document.querySelector('#result').style.display='block';
                                }
                                function validateField(element, event) {
                                    var suggestEl = element.parentElement.querySelector(".tc-suggest");
                                    if (element.value === "") {
                                        suggestEl.classList.add('contact-form-input-error');
                                    } else {
                                        suggestEl.classList.remove('contact-form-input-error');
                                    }
                                }
                                function formatFileSize(bytes, decimalPoint) {
                                    if (bytes == 0) return '0 Bytes';
                                    var k = 1000,
                                        dm = decimalPoint || 2,
                                        sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'],
                                        i = Math.floor(Math.log(bytes) / Math.log(k));
                                    return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];
                                }
                                function updateList() {
                                    console.log("inside updateList");
                                    var input = document.getElementById('upload');
                                    var output = document.getElementById('fileList');
                                    var listHtml="";
                                    var fileNum = input.files.length;
                                    var spanEle ="";
                                    var spanSize = "";
                                    var spanDel = "<span class = \"removeFile\" ></span>";
                                  var numFiles =  input.files.length;
                                   // filesCount+=numFiles;
                                 var curFileNum =   parseInt(document.querySelector(".filecount").innerHTML);
                                    console.log("No.of files brfore = " + curFileNum);

                                    curFileNum +=   numFiles;
                                    console.log("No.of files afeter = "+curFileNum);
                                    document.querySelector(".filecount").innerHTML = curFileNum;
                                    for (var i = 0; i < numFiles; ++i) {
                                        var bytes = input.files.item(i).size ;
                                        console.log("file size in Bytes " + bytes);

                                        //var fileSize = parseInt(Math.floor(Math.log(bytes) / Math.log(1024)));
                                        var fileSize=formatFileSize(bytes);
                                        var fileType = input.files.item(i).name.split('.')[1];
                                        console.log("file size is "+fileSize);
                                        console.log("file type is " +fileType);
                                        spanSize = "<span class=\"fileSize\">"+fileSize+"</span>";
                                        if(fileType == "pdf"){
                                            spanEle="<span class = \"pdfImage\" ></span>"
                                        } else if (fileType == "png" || fileType == "jpg" || fileType == "svg") {
                                            console.log("inside file type svg");
                                            spanEle="<span class = \"pngImage\" ></span>"
                                        } else if (fileType == "zip") {
                                            spanEle="<span class = \"zipImage\" ></span>"
                                        } else {
                                            spanEle="<span class = \"pdfImage\" ></span>"
                                    }


                                        listHtml += '<div class=\"fileAttachList\">'+spanEle + '<span class=\"fileName\">' + input.files.item(i).name +'</span>' +spanDel+spanSize+'</div>';
                                }
                                    // output.innerHTML += '<ul>'+listHtml+'</ul>';
                                    output.insertAdjacentHTML( 'beforeend', listHtml );

                                }
