dist/uxpl/index.html

<!--
Created by hede on 12/8/2017.

--><!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TIBCO UX Pattern Library</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="/assets/img/logo-uxpl.png">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108938042-1"></script>
    <script src="/assets/js/analytics.js"></script>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/vendor/highlightjs/styles/github.css">
    <link rel="stylesheet" href="/vendor/uxpl/css/tibco-cloud-ui-pattern.css">
    <link rel="stylesheet" href="/vendor/jquery/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/vendor/jquery/css/jquery.autocompleter.css">
  </head>
  <body>
    <header class="uipsite-header">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" data-toggle="collapse" date-target="#uip-navbar-collapse" aria-expanded="false" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
              <!--a(href=root + header.brand.href).navbar-brand.mynav-->
              <!--    img(src='../../assets/img/uxpl-logo.png')-->
            </button><a href="/index.html" class="navbar-brand mynav"></a>
          </div>
          <div id="uip-navbar-collapse" class="collapse navbar-collapse mynav">
            <ul class="nav navbar-nav">
              <li><a href="/components/index.html">Development</a></li>
              <li><a href="/design/index.html">Design</a></li>
              <li><a href="/copy/index.html">Copy</a></li>
              <li><a href="/work/index.html">Working with UX</a></li>
              <li><a href="/updates/index.html">Updates</a></li>
              <li><a href="/contact/index.html">Contact</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="landing-bg">
      <div class="container">
        <div class="welcome">
          <p class="tibco-ux">TIBCO UX</p>
          <h1 id="1-PatternLibrary" class="ui-library">Pattern Library</h1>
          <div class="mashling"><a href="/updates/index.html" class="version">version 1.1.0 Feb. 2018</a>
            <div class="mashy"></div>
          </div><img src="/assets/img/flogo-img.png" class="flogo">
        </div>
        <div class="flex-container">
          <div class="card left">
            <div id="dev" class="card-img"></div>
            <div class="card-details">
              <p class="card-title">Development</p>
              <p class="card-description">Howdy! Here’s where you can get all the components and instructions for implementing a stellar UI.</p><a href="/components">
                <button class="tc-buttons-secondary">Get started</button></a>
            </div>
          </div>
          <div class="card right">
            <div id="design" class="card-img"></div>
            <div class="card-details">
              <p class="card-title">Design</p>
              <p class="card-description">These guidelines show how to consistently apply color typography, page layout, spacing, and grids. You’ll also find some helpful file downloads.</p><a href="/design">
                <button class="tc-buttons-secondary">Stay gold</button></a>
            </div>
          </div>
          <div class="card left">
            <div id="copy" class="card-img"></div>
            <div class="card-details">
              <p class="card-title">Copy</p>
              <p class="card-description">These guidelines can help you choose the right words to keep communication clear, friendly, and easy to understand.</p><a href="/copy">
                <button class="tc-buttons-secondary">Say it right</button></a>
            </div>
          </div>
          <div class="card right">
            <div id="process" class="card-img"></div>
            <div class="card-details">
              <p class="card-title">Working with UX</p>
              <p class="card-description">Want to kick off a project? This is your guide to getting it done right and receiving the seal of approval from the TIBCO UX Department.</p><a href="/work">
                <button class="tc-buttons-secondary">Work with UX</button></a>
            </div>
          </div>
        </div>
        <footer class="footer">
          <p>Copyright ©
            <script>document.write((new Date()).getFullYear())</script> TIBCO Software Inc. All Rights Reserved.
          </p>
        </footer>
      </div>
    </div>
    <script type="text/javascript" src="/vendor/jquery/js/jquery.js"></script>
    <script type="text/javascript" src="/vendor/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="/vendor/highlightjs/highlight.pack.js"></script>
    <script type="text/javascript" src="/vendor/uxpl/js/tibco-cloud-ui-pattern.js"></script>
    <script type="text/javascript" src="/vendor/jquery/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/vendor/jquery/js/jquery.mCustomScrollbar.js"></script>
    <script type="text/javascript" src="/vendor/jquery/js/jquery.ba-throttle-debounce.min.js"></script>
    <script type="text/javascript" src="/assets/js/main.js"></script>
    <script type="text/javascript" src="/vendor/jquery/js/jquery.autocompleter.js"></script>
  </body>
</html>

site/_data/index.jade
extends ./_layout/new.jade

block content
    div.landing-bg
        div.container
            div.welcome
                p.tibco-ux TIBCO UX
                h1(id='1-PatternLibrary').ui-library Pattern Library
                div.mashling
                    a(href="/updates/index.html").version version 1.1.0 Feb. 2018
                    div.mashy
                img.flogo(src="/assets/img/flogo-img.png")

            div.flex-container
                div.card.left
                    div.card-img#dev
                    div.card-details
                        p.card-title Development
                        p.card-description Howdy! Here’s where you can get all the components and instructions for implementing a stellar UI.
                        a("href"="/components")
                            button.tc-buttons-secondary Get started
                div.card.right
                    div.card-img#design
                    div.card-details
                        p.card-title Design
                        p.card-description These guidelines show how to consistently apply color typography, page layout, spacing, and grids. You’ll also find some helpful file downloads.
                        a("href"="/design")
                            button.tc-buttons-secondary Stay gold

                div.card.left
                    div.card-img#copy
                    div.card-details
                        p.card-title Copy
                        p.card-description These guidelines can help you choose the right words to keep communication clear, friendly, and easy to understand.
                        a("href"="/copy")
                            button.tc-buttons-secondary Say it right
                div.card.right
                    div.card-img#process
                    div.card-details
                        p.card-title Working with UX
                        p.card-description Want to kick off a project? This is your guide to getting it done right and receiving the seal of approval from the TIBCO UX Department.
                        a("href"="/work")
                            button.tc-buttons-secondary Work with UX
            include ../_includes/footer
