site/updates/index.jade
extends ../_layout/left-nav-layout.jade

block rightContent
    div.container
        section
            .title Updates
            p Welcome to the UX Pattern Library (UXPL) Updates page. Check out what we’ve done recently to improve and extend the library and to fix issues.
            .blue-separator-line
            //- inject:updates
            h1 Version 1.1.0
            ul
               li This was released in February 2018.
               li UXPL is now available as a node module. The readme file explains how to include the private registry where UXPL is hosted and how to run npm install uxpl.
               li We’ve removed the dependency on Bootstrap and JQuery libraries.
               li We’re using a CI/CD pipeline to improve the release process.
               li Feedback from the Contact form now opens JIRA tickets and sends an email to the submitter. The email includes the ticket number, so you can track progress of your ticket.
               li A new Updates page keeps you informed about each release.
            .grey-separator-line
            h1 Version 1.0
            p In January 2018 we introduced the UXPL website, with the following features
            ul
               li Development. A set of downloadable components that you can include in your projects.
               li Design. Guidelines on how to consistently apply color typography, page layout, spacing, and grids.
               li Copy. Guidelines to help choose the right words for your UI, so you can keep communication clear, friendly, and meaningful.
               li Work with UX. Info on how your team can engage the UX team and get the TIBCO UX seal of approval for your project.
               li Contact. A form to send feedback or ask questions about the UXPL.
            //- endinject

dist/uxpl/updates/index.html
<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TIBCO UX Pattern Library</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="/assets/img/logo-uxpl.png">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108938042-1"></script>
    <script src="/assets/js/analytics.js"></script>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/vendor/highlightjs/styles/github.css">
    <link rel="stylesheet" href="/vendor/uxpl/css/tibco-cloud-ui-pattern.css">
    <link rel="stylesheet" href="/vendor/jquery/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/vendor/jquery/css/jquery.autocompleter.css">
  </head>
  <body>
    <header class="uipsite-header">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" data-toggle="collapse" date-target="#uip-navbar-collapse" aria-expanded="false" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
              <!--a(href=root + header.brand.href).navbar-brand.mynav-->
              <!--    img(src='../../assets/img/uxpl-logo.png')-->
            </button><a href="/index.html" class="navbar-brand mynav"></a>
          </div>
          <div id="uip-navbar-collapse" class="collapse navbar-collapse mynav">
            <ul class="nav navbar-nav">
              <li><a href="/components/index.html">Development</a></li>
              <li><a href="/design/index.html">Design</a></li>
              <li><a href="/copy/index.html">Copy</a></li>
              <li><a href="/work/index.html">Working with UX</a></li>
              <li><a href="/updates/index.html">Updates</a></li>
              <li><a href="/contact/index.html">Contact</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="container-fluid main-content">
      <div class="row">
        <div class="col-md-3 left-nav-menu">
          <nav class="uipsite-sidebar affix-top">
            <ul class="nav uipsite-sidenav">
                        <li><a href="#1-Version110">Version 1.1.0</a>
                        </li>
                        <li><a href="#2-Version10">Version 1.0</a>
                        </li>
            </ul>
          </nav>
        </div>
        <div class="col-md-9">
          <div class="container">
            <section>
              <div class="title">Updates</div>
              <p>Welcome to the UX Pattern Library (UXPL) Updates page. Check out what we’ve done recently to improve and extend the library and to fix issues.</p>
              <div class="blue-separator-line"></div>
              <h1 id="1-Version110">Version 1.1.0</h1>
              <ul>
                <li>This was released in February 2018.</li>
                <li>UXPL is now available as a node module. The readme file explains how to include the private registry where UXPL is hosted and how to run npm install uxpl.</li>
                <li>We’ve removed the dependency on Bootstrap and JQuery libraries.</li>
                <li>We’re using a CI/CD pipeline to improve the release process.</li>
                <li>Feedback from the Contact form now opens JIRA tickets and sends an email to the submitter. The email includes the ticket number, so you can track progress of your ticket.</li>
                <li>A new Updates page keeps you informed about each release.</li>
              </ul>
              <div class="grey-separator-line"></div>
              <h1 id="2-Version10">Version 1.0</h1>
              <p>In January 2018 we introduced the UXPL website, with the following features</p>
              <ul>
                <li>Development. A set of downloadable components that you can include in your projects.</li>
                <li>Design. Guidelines on how to consistently apply color typography, page layout, spacing, and grids.</li>
                <li>Copy. Guidelines to help choose the right words for your UI, so you can keep communication clear, friendly, and meaningful.</li>
                <li>Work with UX. Info on how your team can engage the UX team and get the TIBCO UX seal of approval for your project.</li>
                <li>Contact. A form to send feedback or ask questions about the UXPL.</li>
              </ul>
              
            </section>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/vendor/jquery/js/jquery.js"></script>
    <script type="text/javascript" src="/vendor/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="/vendor/highlightjs/highlight.pack.js"></script>
    <script type="text/javascript" src="/vendor/uxpl/js/tibco-cloud-ui-pattern.js"></script>
    <script type="text/javascript" src="/vendor/jquery/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/vendor/jquery/js/jquery.mCustomScrollbar.js"></script>
    <script type="text/javascript" src="/vendor/jquery/js/jquery.ba-throttle-debounce.min.js"></script>
    <script type="text/javascript" src="/assets/js/main.js"></script>
    <script type="text/javascript" src="/vendor/jquery/js/jquery.autocompleter.js"></script>
    <footer class="footer">
      <p>Copyright ©
        <script>document.write((new Date()).getFullYear())</script> TIBCO Software Inc. All Rights Reserved.
      </p>
    </footer>
  </body>
</html>
