dist/uxpl/work/index.html
<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TIBCO UX Pattern Library</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="/assets/img/logo-uxpl.png">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108938042-1"></script>
    <script src="/assets/js/analytics.js"></script>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/vendor/highlightjs/styles/github.css">
    <link rel="stylesheet" href="/vendor/uxpl/css/tibco-cloud-ui-pattern.css">
    <link rel="stylesheet" href="/vendor/jquery/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/vendor/jquery/css/jquery.autocompleter.css">
  </head>
  <body>
    <header class="uipsite-header">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" data-toggle="collapse" date-target="#uip-navbar-collapse" aria-expanded="false" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
              <!--a(href=root + header.brand.href).navbar-brand.mynav-->
              <!--    img(src='../../assets/img/uxpl-logo.png')-->
            </button><a href="/index.html" class="navbar-brand mynav"></a>
          </div>
          <div id="uip-navbar-collapse" class="collapse navbar-collapse mynav">
            <ul class="nav navbar-nav">
              <li><a href="/components/index.html">Development</a></li>
              <li><a href="/design/index.html">Design</a></li>
              <li><a href="/copy/index.html">Copy</a></li>
              <li><a href="/work/index.html">Working with UX</a></li>
              <li><a href="/updates/index.html">Updates</a></li>
              <li><a href="/contact/index.html">Contact</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="container-fluid main-content">
      <div class="row">
        <div class="col-md-3 left-nav-menu">
          <nav class="uipsite-sidebar affix-top">
            <ul class="nav uipsite-sidenav">
                        <li><a href="#1-Addingnewdomains">Adding new domains</a>
                          <ul class="nav">
                                      <li><a href="#1-ProjectKickoff">Project Kickoff</a>
                                      </li>
                                      <li><a href="#1-1-UXProductStrategy">UX Product Strategy</a>
                                      </li>
                                      <li><a href="#1-2-DesignandDevelopment">Design and Development</a>
                                      </li>
                                      <li><a href="#1-3-UXQualityAssuranceSignO">UX Quality Assurance Sign-O...</a>
                                      </li>
                          </ul>
                        </li>
            </ul>
          </nav>
        </div>
        <div class="col-md-9">
          <div class="container">
            <section>
              <div class="title">Working with UX</div>
              <p>The TIBCO UX team designs user experiences that make our customers want to come back for more -- with compelling visuals, intuitive interaction, and engaging content. We also promote consistency across all TIBCO products for a unified and professional look and feel.</p>
              <p>Read on to learn how you can engage the UX team for your project and get the TIBCO UX seal of approval.</p>
              <div class="blue-separator-line"></div>
              <h1 id="1-Addingnewdomains" style="display:inline-block;">Adding new domains</h1><span class="h1">&nbsp;to TIBCO Cloud</span>
              <p>Want to add a new domain (cloud service) to TIBCO Cloud? This is the process you’ll follow with the UX team.</p>
              <h2 id="1-ProjectKickoff">Project Kickoff</h2>
              <p>Usually, the PM for the new domain contacts UX to set up a kick-off meeting. If there’s no assigned PM, the main stakeholder can kick things off.</p>
              <p>To get started, send email to: <uxpl>@tibco.com.
                <p>Kick-off meeting attendees: The PM, other stakeholders, someone from the back-end developer team, and a member of the UX management team. UX management might also suggest others to invite from the UX team.</p>
                <p>Have the kick-off meeting cover these questions.</p>
                <ol class="kickoff-order">
                  <li>What is the product and what does it do? Give a high-level overview of the domain and a product roadmap.</li>
                  <li>Who’s the main target for the product?</li>
                  <li>What existing TIBCO products will be incorporated into the new domain? Include an overview of the existing products and access to them, if possible.</li>
                  <li>Who are the main competitors or market share/verticals that the domain will address?</li>
                  <li>What’s the estimated initial release date for the version 1?</li>
                  <li>What key performance indicators (KPIs) will the domain address?</li>
                  <li>What are the next steps? These typically include:</li>
                  <ul>
                    <li>Starting research, including competitor analysis and end-user persona development.</li>
                    <li>Developing UX key objectives.</li>
                    <li>Scheduling ongoing UX meetings (daily standups, weekly meetings, etc.) as needed.</li>
                  </ul>
                </ol>
              </p>
              <h2 id="1-1-UXProductStrategy" style="display:inline-block;">UX Product Strategy</h2><span class="h2">&nbsp;Meetings</span>
              <p>Following kick-off, the UX team will schedule sessions to flesh out the overall project plan before beginning design.</p>
              <p>Attendees: the PM, stakeholders, UX interaction designer, and others from the initial meeting, as appropriate.</p>
              <p>Agenda:
                <ul>
                  <li>UX research and findings on main competitors, if any. Initial discussion and brainstorming for the business model and value proposition.</li>
                  <li>UX research and findings on the key verticals or target verticals.</li>
                  <li>Initial discussion on user cases for the product.</li>
                  <li>Initial discussion about the target persona. (Is there an existing persona from the UX Persona Library that fits the bill, or is a new one needed?)</li>
                  <li>Possible user stories based on the use case and persona.</li>
                </ul>
                <p>The following items must be in place and signed off by PM and UX Management before UX designers begin work. (We’ve got a handy template for tracking these items.)</p>
                <ul>
                  <li>Initial V1 release date and PM/UX roadmap for MVP completion, including initial delivery dates for proposed wireframes and visual design based on use cases and user stories for the V1 release.</li>
                  <li>Use cases for V1 completed and documented.</li>
                  <li>Target persona designed and documented.</li>
                  <li>User stories for V1 completed and documented.</li>
                  <p></p><b>Keep in mind:</b> After the V1 use cases are completed, any changes or additions are likely to require an adjustment in the UX timeline to push out delivery dates or to remove items from the V1 deliverables.
                </ul>
              </p>
              <h2 id="1-2-DesignandDevelopment" style="visibility:hidden;">Design and Development</h2>
              <div class="h2">Design, Development, and Implementation Meetings</div>
              <p>Regularly scheduled meetings begin after product strategy phase is complete, and continue through design, development, and testing, until the V1 release. We recommend at least one meeting per week -- the exact number will depend on the project.</p>
              <p>Your team can consolidate design reviews, user research, and development in the same meetings, or address these topics in separate meetings.</p>
              <div class="spacer-small"></div>
              <p><strong>Design Reviews and UX Research Sessions</strong></p>
              <div class="spacer-small"></div>
              <p>These meetings are to review and iterate on the design assets and usability inputs.</p>
              <p>Attendees: the PM and UX designers. Optional attendees include front/back-end developers, copywriters, or other stakeholders, as needed.</p>
              <p>Agenda (the specifics will vary from meeting to meeting):
                <ul>
                  <li>Review new wireframes and document any design iterations.</li>
                  <li>Create a UX testing plan based on the new interaction wireframes.</li>
                  <li>Review iterations on existing interaction wIreframes.</li>
                  <li>Review visual design of new/existing interaction wireframes.</li>
                  <li>Review testing results for iterations of the interaction/visual designs.</li>
                  <li>Create a UX testing plan based on the iterations of the interaction/visual designs.</li>
                  <li>Adjust the UX deliverables timeline as needed.</li>
                  <p></p><b>Keep in mind:</b>PM and UX members must sign off on all the designs and iterations.
                </ul>
              </p>
              <div class="spacer-small"></div>
              <p><strong>UX Development/Implementation Meetings</strong></p>
              <div class="spacer-small"></div>
              <p>These meetings are to review all development issues relating to frontend and backend development.</p>
              <p>Make sure your domain developers consult with UX front-end developers about the development details. If you are using your domain staff for development (not the UX developers), the UX developers will still review the framework and implementation details of the UX patterns and introduce the product team to the UX pattern library so that they can reuse components already built by the UX team.</p>
              <p>Attendees: UX Designers (visual and interaction), front-end developers, back-end developers, and the PM.
                <p>Agenda (the specifics will vary from meeting to meeting):</p>
                <ul>
                  <li>Development and implementation issues concerning the designed UI.</li>
                  <li>Front-end framework decisions to be made.</li>
                  <li>Review updates and demo the developed UI.</li>
                  <li>Create UX testing scenarios, as needed.</li>
                  <li>Adjust the UX deliverables timeline, if needed.</li>
                </ul>
              </p>
              <h2 id="1-3-UXQualityAssuranceSignO">UX Quality Assurance Sign-Off</h2>
              <p>After implementation, the UX team will conduct QA testing of all UX assets that have been implemented before the assets are released to the public for consumption.
                <p>Attendees: All involved UX members, UX front-end developers, and the PM.</p>
                <p>Agenda:
                  <ul>
                    <li>Review all implemented UX assets for sign-off by the UX group and the PM.</li>
                    <li>Identify and mark up any changes that must be addressed before public consumption.</li>
                    <li>Identify UX inconsistencies, if any, that can be addressed after initial public consumption. A plan to fix each issue, including dates for implementation, must be drafted and agreed upon before sign-off is given by the UX team.</li>
                  </ul>
                </p>
              </p>
            </section>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/vendor/jquery/js/jquery.js"></script>
    <script type="text/javascript" src="/vendor/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="/vendor/highlightjs/highlight.pack.js"></script>
    <script type="text/javascript" src="/vendor/uxpl/js/tibco-cloud-ui-pattern.js"></script>
    <script type="text/javascript" src="/vendor/jquery/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/vendor/jquery/js/jquery.mCustomScrollbar.js"></script>
    <script type="text/javascript" src="/vendor/jquery/js/jquery.ba-throttle-debounce.min.js"></script>
    <script type="text/javascript" src="/assets/js/main.js"></script>
    <script type="text/javascript" src="/vendor/jquery/js/jquery.autocompleter.js"></script>
    <footer class="footer">
      <p>Copyright ©
        <script>document.write((new Date()).getFullYear())</script> TIBCO Software Inc. All Rights Reserved.
      </p>
    </footer>
  </body>
</html>

site/work/index.jade
extends ../_layout/left-nav-layout.jade

block rightContent
    div.container
        section
            .title Working with UX
            p The TIBCO UX team designs user experiences that make our customers want to come back for more -- with compelling visuals, intuitive interaction, and engaging content. We also promote consistency across all TIBCO products for a unified and professional look and feel.

            p Read on to learn how you can engage the UX team for your project and get the TIBCO UX seal of approval.
            .blue-separator-line
            h1(style='display:inline-block;') Adding new domains
            span.h1 &nbsp;to TIBCO Cloud

            p Want to add a new domain (cloud service) to TIBCO Cloud? This is the process you’ll follow with the UX team.

            h2 Project Kickoff
            p Usually, the PM for the new domain contacts UX to set up a kick-off meeting. If there’s no assigned PM, the main stakeholder can kick things off.

            p To get started, send email to: <uxpl>@tibco.com.

                p Kick-off meeting attendees: The PM, other stakeholders, someone from the back-end developer team, and a member of the UX management team. UX management might also suggest others to invite from the UX team.

                p Have the kick-off meeting cover these questions.
                ol.kickoff-order
                    li What is the product and what does it do? Give a high-level overview of the domain and a product roadmap.
                    li Who’s the main target for the product?
                    li What existing TIBCO products will be incorporated into the new domain? Include an overview of the existing products and access to them, if possible.
                    li Who are the main competitors or market share/verticals that the domain will address?
                    li What’s the estimated initial release date for the version 1?
                    li What key performance indicators (KPIs) will the domain address?
                    li What are the next steps? These typically include:
                    ul
                        li Starting research, including competitor analysis and end-user persona development.
                        li Developing UX key objectives.
                        li Scheduling ongoing UX meetings (daily standups, weekly meetings, etc.) as needed.
            h2(style='display:inline-block;') UX Product Strategy
            span.h2 &nbsp;Meetings
            p Following kick-off, the UX team will schedule sessions to flesh out the overall project plan before beginning design.
            p Attendees: the PM, stakeholders, UX interaction designer, and others from the initial meeting, as appropriate.

            p Agenda:
                ul
                    li UX research and findings on main competitors, if any. Initial discussion and brainstorming for the business model and value proposition.
                    li UX research and findings on the key verticals or target verticals.
                    li Initial discussion on user cases for the product.
                    li Initial discussion about the target persona. (Is there an existing persona from the UX Persona Library that fits the bill, or is a new one needed?)
                    li Possible user stories based on the use case and persona.

                p The following items must be in place and signed off by PM and UX Management before UX designers begin work. (We’ve got a handy template for tracking these items.)
                ul
                    li Initial V1 release date and PM/UX roadmap for MVP completion, including initial delivery dates for proposed wireframes and visual design based on use cases and user stories for the V1 release.
                    li Use cases for V1 completed and documented.
                    li Target persona designed and documented.
                    li User stories for V1 completed and documented.
                    p
                    b Keep in mind:
                    |  After the V1 use cases are completed, any changes or additions are likely to require an adjustment in the UX timeline to push out delivery dates or to remove items from the V1 deliverables.

            h2(style='visibility:hidden;') Design and Development
            div.h2 Design, Development, and Implementation Meetings
            p Regularly scheduled meetings begin after product strategy phase is complete, and continue through design, development, and testing, until the V1 release. We recommend at least one meeting per week -- the exact number will depend on the project.
            p Your team can consolidate design reviews, user research, and development in the same meetings, or address these topics in separate meetings.
            .spacer-small
            p
                strong Design Reviews and UX Research Sessions
            .spacer-small
            p These meetings are to review and iterate on the design assets and usability inputs.
            p Attendees: the PM and UX designers. Optional attendees include front/back-end developers, copywriters, or other stakeholders, as needed.
            p Agenda (the specifics will vary from meeting to meeting):
                ul
                    li Review new wireframes and document any design iterations.
                    li Create a UX testing plan based on the new interaction wireframes.
                    li Review iterations on existing interaction wIreframes.
                    li Review visual design of new/existing interaction wireframes.
                    li Review testing results for iterations of the interaction/visual designs.
                    li Create a UX testing plan based on the iterations of the interaction/visual designs.
                    li Adjust the UX deliverables timeline as needed.

                    p
                    b Keep in mind:
                    | PM and UX members must sign off on all the designs and iterations.

            .spacer-small
            p
                strong UX Development/Implementation Meetings
            .spacer-small
            p These meetings are to review all development issues relating to frontend and backend development.
            p Make sure your domain developers consult with UX front-end developers about the development details. If you are using your domain staff for development (not the UX developers), the UX developers will still review the framework and implementation details of the UX patterns and introduce the product team to the UX pattern library so that they can reuse components already built by the UX team.
            p Attendees: UX Designers (visual and interaction), front-end developers, back-end developers, and the PM.

                p Agenda (the specifics will vary from meeting to meeting):
                ul
                    li Development and implementation issues concerning the designed UI.
                    li Front-end framework decisions to be made.
                    li Review updates and demo the developed UI.
                    li Create UX testing scenarios, as needed.
                    li Adjust the UX deliverables timeline, if needed.

            h2 UX Quality Assurance Sign-Off
            p After implementation, the UX team will conduct QA testing of all UX assets that have been implemented before the assets are released to the public for consumption.

                p Attendees: All involved UX members, UX front-end developers, and the PM.
                p Agenda:
                    ul
                        li Review all implemented UX assets for sign-off by the UX group and the PM.
                        li Identify and mark up any changes that must be addressed before public consumption.
                        li Identify UX inconsistencies, if any, that can be addressed after initial public consumption. A plan to fix each issue, including dates for implementation, must be drafted and agreed upon before sign-off is given by the UX team.
